body {
    background-color:#fff;
    overflow-x: hidden;
}

/*******************authentication page edit Start*************************************/
.h-130px{
    height: 130px !important;
}
.form-check-custom.form-check-success .form-check-input:checked {
    background-color:#462768 !important;
}

#kt_sign_in_form,
#kt_sign_up_form,
#kt_new_password_form,
#kt_password_reset_form {
    background: #fff;
    border-radius: 20px;
    padding-bottom: 40px;
    border:3px solid #FAF9FA;
}
.form-heading{
    background: #FAF9FA;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
h1.text-dark{
    border-radius: 20px;
    color: #0C1B32 !important;
    font-size: 2rem;
}
.text-gray-500{
  color: #0C1B32 !important;
}
  #kt_sign_in_form .form-content,
  #kt_sign_up_form .form-content,
  #kt_new_password_form .form-content,
  #kt_password_reset_form .form-content{
    margin-right: 20px;
    margin-left: 20px;
  }
  #kt_sign_in_form .form-control,
  #kt_sign_up_form .form-control,
  #kt_new_password_form .form-control,
  #kt_password_reset_form .form-control{
    background-color: #FAF9FA !important;
    border-radius: 40px;
    height: 50px !important;
    padding: 15px;
  }
 .btn.btn-primary,
 .btn-primary{
    background-color: #462768!important;
    color: #fff;
    border-radius: 40px;
    height: 50px !important;
  }
  .btn.btn-primary:hover:not(.btn-active){
    background-color: #241239!important;
  }

  #kt_sign_in_form .form-content .keep-sign{
    display: inline-block;
  }
  #kt_sign_in_form .form-content .keep-sign{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #kt_sign_in_form .form-content a.forget-password{
    display: inline-block;
    margin-left: 115px;
    color: #0C1B32 !important;
    text-decoration: underline;
  }
  #kt_sign_in_form .form-content .text-gray-500,
  .text-muted,
  .link-primary{
    color: #0C1B32 !important;
  }
  .link-primary:hover{
    color: #462768!important;
  }
  #kt_sign_in_form .form-content .text-gray-500 a{
    color: #0C1B32 !important;
    font-weight: bold;
  }
  .flex-center.our-style{
    justify-content: start!important;
  }

 .bg-light.our-nav{
  background: transparent !important;
 }
 
 .navbar-expand-lg .navbar-collapse{
  flex-direction: row-reverse;
 }
 

 .languge-nav .dropdown-menu{
  left: unset;
  right: 0;
 }


#kt_password_reset_submit{
  width: 100%;
}
/*******************authentication page edit End**************************************/
/*******************************************************Index page Start********************************/
.header .header-brand{
  background-color: #fff;
}
.h-lg-25px.logo-high{
  height: 40px !important;
}
h1.text-dark a{
  color: #131313;
}
.aside-user .symbol img{
  border-radius: 50%;
}
a.user-name{
  color: #131313 !important;
}
.svg-icon.svg-icon-1 svg.arrow {
  height: 0.75rem !important;
  width: 1.75rem !important;
}
.user-menu{
  transform: translate(-23px, 65px) !important;
}
.top-Notification{
  margin-right: 20px;
}
.aside-user.mobile-user{
  display: none !important;
}
/*******************************************************Index page End**********************************/


















/***********************************mobile*******************************/
@media (min-width: 300px) and (max-width: 766.5px){
    #kt_sign_in_form .form-content a.forget-password{
        margin-left: 10px;
        font-size: 8px;
    }
    .form-check-custom .form-check-label{
        font-size: 12px;
    }
    .dropdown-menu[data-bs-popper]{
      left: unset;
      right: 0;
    }
    .aside-user.mobile-user{
      display: block!important;
    }
    .aside-user.top-user{
      display: none !important;
    }
}



/**********************************************ibad********************************/
@media(min-width:768px) and (max-width:1024px){
  .dropdown-menu[data-bs-popper]{
    left: unset;
    right: 0;
  }

}