@font-face {
    font-family: ArabicFont-Regular;
    src: url('../plugins/global/fonts/fonts/ArabicFont-Regular.ttf');
}
html{
    direction: rtl;
    overflow-x: hidden;
    font-family: ArabicFont-Regular !important;
}
body{
    font-family: ArabicFont-Regular !important;   
}
/******************************************Sign in page***************************/
#kt_sign_in_form .form-content a.forget-password{
    margin-left: 0;
    margin-right: 115px;
}
#kt_sign_up_form .translate-middle,
#kt_new_password_form .translate-middle {
    transform: translate(-900%, -50%) !important;
}
.languge-nav .dropdown-menu{
    left: 0;
    right: unset;
   }
 
/*****************************************Sign in page****************************/
/***********************************************Index Page**************************/
.top-Notification {
    margin-right: 0;
    margin-left: 10px;
   }
   .top-Notification svg{
          direction: ltr;
   }
.aside-menu .menu .menu-item .menu-link.new-link .new-feature{
    right: 72%;
}















/************************************************Mobile**********************************/
@media (min-width: 300px) and (max-width: 766.5px){
    #kt_sign_in_form .form-content a.forget-password{
        margin-right: 8px;
    }

    #kt_sign_up_form .translate-middle,
    #kt_new_password_form .translate-middle {
        transform: translate(-520%, -50%) !important;
    }

    .dropdown-menu[data-bs-popper]{
        left: 0;
        right: unset;
      }
}


/**********************************************ibad********************************/
@media(min-width:768px) and (max-width:1024px){
    .dropdown-menu[data-bs-popper]{
        left: 0;
        right: unset;
      }
}