body {
    background-color:#fff;
    overflow-x: hidden;
}
.scrolltop{
  background-color:#462768;
}
.scrolltop:hover{
  background-color:#462768 !important;
}
#kt_content_container{
  padding-bottom: 50px;
}
/*******************authentication page edit Start*************************************/
.h-130px{
    height: 130px !important;
}
.form-check-custom.form-check-success .form-check-input:checked {
    background-color:#462768 !important;
}

#kt_sign_in_form,
#kt_sign_up_form,
#kt_new_password_form,
#kt_password_reset_form {
    background: #fff;
    border-radius: 20px;
    padding-bottom: 40px;
    border:3px solid #FAF9FA;
}
.form-heading{
    background: #FAF9FA;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
h1.text-dark{
    border-radius: 20px;
    color: #0C1B32 !important;
    font-size: 2rem;
}
.text-gray-500{
  color: #0C1B32 !important;
}
  #kt_sign_in_form .form-content,
  #kt_sign_up_form .form-content,
  #kt_new_password_form .form-content,
  #kt_password_reset_form .form-content{
    margin-right: 20px;
    margin-left: 20px;
  }
  #kt_sign_in_form .form-control,
  #kt_sign_up_form .form-control,
  #kt_new_password_form .form-control,
  #kt_password_reset_form .form-control{
    background-color: #FAF9FA !important;
    border-radius: 40px;
    height: 50px !important;
    padding: 15px;
  }
 .btn.btn-primary,
 .btn-primary{
    background-color: #462768!important;
    color: #fff;
   /* border-radius: 40px;
    height: 50px !important;*/
  }
  .btn.btn-primary:hover:not(.btn-active){
    background-color: #241239!important;
  }

  #kt_sign_in_form .form-content .keep-sign{
    display: inline-block;
  }
  #kt_sign_in_form .form-content .keep-sign{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #kt_sign_in_form .form-content a.forget-password{
    display: inline-block;
    margin-left: 115px;
    color: #0C1B32 !important;
    text-decoration: underline;
  }
  #kt_sign_in_form .form-content .text-gray-500,
  .text-muted,
  .link-primary{
    color: #0C1B32 !important;
  }
  .link-primary:hover{
    color: #462768!important;
  }
  #kt_sign_in_form .form-content .text-gray-500 a{
    color: #0C1B32 !important;
    font-weight: bold;
  }
  .flex-center.our-style{
    justify-content: start!important;
  }

 .bg-light.our-nav{
  background: transparent !important;
 }
 
 .navbar-expand-lg .navbar-collapse{
  flex-direction: row-reverse;
 }
 

 .languge-nav .dropdown-menu{
  left: unset;
  right: 0;
 }


#kt_password_reset_submit{
  width: 100%;
}
/*******************authentication page edit End**************************************/
/*******************************************************Index page Start********************************/
.header .header-brand{
  background-color: #fff;
}
.h-lg-25px.logo-high{
  height: 40px !important;
}
h1.text-dark a{
  color: #131313;
}
.aside-user .symbol img{
  border-radius: 50%;
}
a.user-name{
  color: #131313 !important;
}
.svg-icon.svg-icon-1 svg.arrow {
  height: 0.75rem !important;
  width: 1.75rem !important;
}
.user-menu{
  transform: translate(-23px, 65px) !important;
}
.top-Notification{
  margin-right: 20px;
}
.aside-user.mobile-user{
  display: none !important;
}
.aside{
  background-color: #fff;
}

.aside-menu .menu .menu-item .menu-link .menu-title{
  color: #131313 !important;
}
.aside-menu .menu .menu-item .menu-link .menu-icon .svg-icon:hover{
  color:#131313
}
.aside-menu .menu .menu-item .menu-link.active{
  background-color: #5D3585;
  color: #fff !important;
  /*border-right: 8px solid #3d8fb4 !important;*/
}
.aside-menu .menu .menu-item .menu-link.active .menu-title{
  color: #fff !important;
}
.aside-menu .menu .menu-item .menu-link.active .menu-icon .svg-icon{
  color: #fff !important;
}
.aside-menu .menu .menu-item .menu-link:hover{
  background-color: #5D3585 !important;
  color: #fff !important;
  /*border-right: 8px solid #3d8fb4 !important;*/
}
.aside-menu .menu .menu-item .menu-link:hover .menu-title{
  color: #fff !important;
}
.aside-menu .menu > .menu-item {
  padding: 0 0.4rem;
  margin-bottom: 10px;
}

.aside-menu .menu .menu-item .menu-link.new-link{
  background-color: #F7F8FC !important;
  position: relative;
}
.aside-menu .menu .menu-item .menu-link.new-link:hover{
  background-color: #5D3585 !important;
  color: #fff !important;
  /*border-right: 8px solid #3d8fb4 !important;*/
}
.aside-menu .menu .menu-item .menu-link.new-link:hover .menu-icon .svg-icon path{
  color: #fff ;
  fill:#fff;
} 
.aside-menu .menu .menu-item .menu-link.new-link .new-feature{
  display: inline-block;
  background-color: #EC4321;
  color: #fff;
  border-radius: 26px;
  padding: 2px 10px;
  position: absolute;
  right: 5%;
  top: -36%;
  box-shadow: -4px 12px 20px -4px rgba(236,67,33,0.44);
-webkit-box-shadow: -4px 12px 20px -4px rgba(236,67,33,0.44);
-moz-box-shadow: -4px 12px 20px -4px rgba(236,67,33,0.44);
}

.menu-link.interactive{
  height: 275.48px;
  background-image: url(../media/our-image/interactive.png);
  background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
}
.aside-menu .menu .menu-item .menu-link.interactive:hover{
  background-color:transparent !important;
  border-right: none!important;
}
/*******content ****/
.content {
  background: #F8F7FA;
}
/*******************************************************Index page End**********************************/
/*******************************************************add-role start******************/
.table-title{
  font-size: 20px;
  font-weight: 600;
  color: #371C52;
  margin-top: 30px;
  text-transform: capitalize;
}
.add-role .add-rolespan.role-name{
   color: #222222;
   font-size: 22px;
   display: inline-block;
   padding: 0 10px;
 
}
.add-role .search-roll{
  background-color: #fff;
  margin-left: 20px;
  padding: 10px !important;
}

.add-role .table#kt_datatable_example_1 thead{
  background-color: #F8F9FC !important;
  color: #371C52 !important;
  text-align: center;
}
.add-role .table#kt_datatable_example_1{
  background-color: #F7F8FC;
}
.add-role .table-buttun .btn{
  background-color: #ccc;
  border-radius: 5px;
  padding: 5px 30px;
  display: inline-block;
  margin: 10px 10px;
}
.add-role .table-buttun .btn.save{
  background-color: #371C52;
  color: #fff;
}
.add-role .table-buttun .btn.cancel{
border:1px solid #371C52 !important;
  background-color: #fff;
  color: #371C52;
}
/*
.add-role table.dataTable thead{
  background: #F8F9FC !important;
  color: #371C52 !important;
}
*/
/*******************************************************add-role End********************/
/**************************************content page Start********************************/
#kt_body .error-btn{
  color: #371C52 !important;
  background: #EEEEEE !important;
  padding: 15px 60px;
  font-weight: 600 !important;
  font-size: 16px;
}
/**************************************content page End**********************************/
/*****************************************Add new User start*****************************/

.new-user-form{
  background: #fff;
  border:1px solid #EEEEEE;
  padding: 40px 70px;
  margin-top: 35px;
 /* margin-bottom: 50px;*/
}
.new-user-form h3{
  font-size: 22px;
  color: #222222;
}
.new-user-form span.note{
  color: #EC4321;
  font-size: 16px;
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid #F2F2F2;
}
.new-user-form .add-user{
  margin-top: 20px;
  border:none !important;

}

.new-user-form .add-user input.form-control{
  background-color: #fff !important;
  border: 1px solid #F2F2F2;
  border-radius: 5px !important;
}
.new-user-form .add-user .form-select{
  margin-bottom: 25px;
  border-radius: 5px !important;
}
.new-user-form .add-user .btn{
  background-color: #ccc;
  border-radius: 5px;
  padding: 10px 30px;
  display: inline-block;
  margin: 10px 10px;
  border-bottom: none;
}
.new-user-form .add-user .btn.save{
  background-color: #371C52;
  color: #fff;
}
.new-user-form .add-user .btn.cancel{
  border:1px solid #371C52 !important;
    background-color: #fff;
    color: #371C52;
  }
  .new-user-form .add-user .form-check{
    padding-left: 0;
  }

  .new-user-form .add-user .form-check-custom.form-check-danger .form-check-input:checked {
    background-color: #371C52;
}
.new-user-form .add-user .form-check-custom.form-check-danger span{
  font-size:16px !important;
  color: var(--bs-body-color);
}
/*****************************************Add new user End********************************/
/********************************************Users page Start*******************************************/
.users-page .table-title{
  margin-top: 0;
}
.users-page .page-content-header{
  margin: 40px 0px 20px 10px;
}
.users-page .page-content-header .links a.users-link{
  display: inline-block;
  background-color: #5D3585;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px 15px;
}
.users-page .search-inputs input{
  margin-right: 10px;
  background-color: #fff;
  border:1px solid #EEEEEE;
  padding: 10px 15px !important;
}
.users-page .card-toolbar .btn{
  margin-right: 10px;
 border-radius: 5px !important;
 padding: 10px 15px !important;
 height: unset !important;
}
.users-page .card-toolbar .btn.reset{
  border:1px solid #371C52 !important;
  background: transparent !important;
  color: #371C52;
}
.users-page .users-table span.active{
  display: inline-block;
background: #0DCD98;
width: 10px;
height: 10px;
border-radius: 50%;
}
.users-page .users-table span.inactive{
  display: inline-block;
background: #ccc;
width: 10px;
height: 10px;
border-radius: 50%;
}
.users-page table.dataTable thead > tr > th.sorting{
  padding-right: 10px;
  text-align: center;
  color: #371C52;
}
.users-page .table.table-row-dashed tr{
  font-size: 0.9rem;
  text-align: center;
}
.users-page .page-content-header .links{
  display: flex;
  justify-content: end;
}

/********************************************Users page End********************************************/
















/***********************************mobile*******************************/
@media (min-width: 300px) and (max-width: 766.5px){
    #kt_sign_in_form .form-content a.forget-password{
        margin-left: 10px;
        font-size: 8px;
    }
    .form-check-custom .form-check-label{
        font-size: 12px;
    }
    .dropdown-menu[data-bs-popper]{
      left: unset;
      right: 0;
    }
    .aside-user.mobile-user{
      display: block!important;
    }
    .aside-user.top-user{
      display: none !important;
    }
}



/**********************************************ibad********************************/
@media(min-width:768px) and (max-width:1024px){
  .dropdown-menu[data-bs-popper]{
    left: unset;
    right: 0;
  }

}